<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Adicionar usúarios</h1>
    <!--- area dos inputs para adicionar os novos usarios-->
    <form action="" method="POST">
        <div class="input-container">
            <label for="nome">NOME</label>
            <input type="text" name="nome" id="nome" maxlength="50" required>

            <label for="crm">CRM</label>
            <input type="text" name="crm" id="crm" maxlength="10" minlength="10" required>

            <label for="senha">senha</label>
            <input type="text" name="senha" id="senha" required>
            <input type="submit" value="Cadastrar"  class="continue-btn" onclick="alerta()">
        </div>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CRM</th>
            <th>AÇÕES</th>
        </tr>
        {% for User in usuario_consulta %}
        <tr><td>{{User.id}}</td> <td>{{User.nome}}</td> <td>{{User.crm}}</td> <td><a href="/delete/{{User.id}}">Deletar</a></td> </tr>
        {% endfor %}
    </table>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.2/dist/sweetalert2.all.min.js"></script>
<script>

    function alerta() {
        Swal.fire({
            title: "Tem certeza?",
            text: "O usuario sera adicionado ao database!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sim, confirmo!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success"
                });
            }
        });
    }
</script>

</html>