<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Adicionar usúarios</h1>
    <!--- area dos inputs para adicionar os novos usarios-->
    <form action="" method="POST">
    <div class="input-container">
        <label for="nome">NOME</label>
        <input type="text" name="nome" id="nome" required>

        <label for="crm">CRM</label>
        <input type="text" name="crm" id="crm">

        <label for="senha">senha</label>
        <input type="text" name="senha" id="senha">
        <input type="submit" value="Cadastrar"  class="continue-btn">
    </div>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CRM</th>
            <th>AÇÕES</th>
        </tr>
        {% for User in usuario_consulta %}
        <tr><td>{{User.id}}</td> <td>{{User.nome}}</td> <td>{{User.crm}}</td> <td><a href="/delete/{{User.id}}">Deletar</a></td> </tr>
        {% endfor %}
    </table>
</body>
</html>